---
---

@import "{{ site.theme }}";

.verticalLine {
  border-left: thick solid #847c7c;
}
.resalta {
    background-color: lightgrey;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}
.containerz {
  padding-left: 25px;
}
