---
---

@import "{{ site.theme }}";

.verticalLine {
  border-left: thick solid #847c7c;
}
div {
    background-color: lightgrey;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}
